
@import '~assets/style/media.sass'

.theme--document
  $sm-margin-lr: 35px
  $md-margin-lr: 75px
  margin-bottom: 100px
  font-family: 'Helvetica', sans-serif

  .theme--title
    margin: 25px $sm-margin-lr
    font-size: 23px

    +mq(md)
      margin: 50px $md-margin-lr

  .theme-margin-lr
    margin-left: $sm-margin-lr
    margin-right: $sm-margin-lr
    
    +mq(md)
      margin-left: $md-margin-lr
      margin-right: $md-margin-lr