
@import '~assets/scss/media.scss';

.theme--document {

  $sm-margin-lr: 35px;
  $md-margin-lr: 45px;

  font-family: 'Helvetica', sans-serif;

  &>h1 {

    margin: 25px $sm-margin-lr;

    font-size: 23px;

    @include mq(md) {

      margin: 50px $md-margin-lr;

    }

  }

  .theme-margin-lr {

    margin-left: $sm-margin-lr;
    margin-right: $sm-margin-lr;

    @include mq(md) {

      margin-left: $md-margin-lr;
      margin-right: $md-margin-lr;

    }

  }

}
